playwright
beautifulsoup4
requests
python-dotenv
sentence-transformers
pydantic
fastapi
uvicorn
psycopg2-binary
sqlalchemy
redis
openai
langchain
langchain-community
langchain-huggingface
langchain-chroma
chromadb
openai-whisper
edge-tts
sounddevice
pydub
numpy
fpdf2
pypdf
google-generativeai
tqdm
datasets
transformers
peft
trl
bitsandbytes
torch
